*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Imagens/fundo-principal.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: white;
}
::-webkit-scrollbar{
    display: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 0px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    
}

footer{
    width: 100%;
    margin-left: 40px;
    margin-bottom: 0px;
}

.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.inter-tight-uniquifier{
    
  }

.logo{
    width: 110px;
    height: 110px;
    float: left;
    margin-top: 4vh;
    margin-left: 4.5vw;   
}

h1{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    margin-top: 1vh;
    margin-left: 5vw;
    
}
h2{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 1vh;
    margin-left: 5vw;   
    
}
h4{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;    
    margin-top: 2vh;
    margin-left: 5vw;
    width: 30%;
    text-align: left;
    line-height: 30px; 
}
p{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;    
    margin-top: 10px;
    margin-left: 5vw;
    width: 30%;
    text-align: left;
    line-height: 30px;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 20%;
    margin-left: 5vw;    
    }
button{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    border-radius: 0.5em;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background: radial-gradient(gray, rgb(3, 3, 3));
    color: whitesmoke;
    transition: 0.5s;
}
button:hover{
    width: 90px;
    height: 35px;
    margin-top: 5px;
    border-radius: 0.5em;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background: radial-gradient(gray, rgb(3, 3, 3));
    color: whitesmoke;
    transition: 0.5s;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(78, 78, 78, 0.8);
    color: white;
    border-radius: 0.5em;
    height: 22px;
}
.fundo-principal{
    width: 100%
}
.container-menu{
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(78, 78, 78, 0.8);
    padding: 5px;
    align-items: center;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    float: left;
    width: 150px;
    margin: 10px;
    transition: 0.5s;
    
}
.container-menu:hover{
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(78, 78, 78, 0.8);
    padding: 5px;
    align-items: center;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    float: left;
    width: 150px;
    margin: 10px;
    transform: scale(1.1);
    transition: 0.5s;    
}

.imagens-menu{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;    
    transition: 0.5s;
}

